body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
.navbar{
    display: flex;
    position: fixed;
    overflow: hidden;
    background-color: rgb(70, 62, 62);
    top: 0;
    width: 100%;
    padding-left: 500px;
}
.navbar a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.home-section{
    display: flex;
    margin-top: 50px;
    

}
.home-content h1{
    font-size: 50px;
    line-height: 0.8;
}
.orange{
    color: orange;
}
.home-content{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;

}
.home-content p{
    font-size: 20px;
}
.order-food{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(tomato, orange);
    padding: 12px 16px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.home-photo{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;

}
.home-photo img{
    width: 100%;
}


.about-us-section{
    display: flex;
    background-image: url(images/shapes/7.png);
    height: 700px;
    background-repeat: no-repeat;
    background-position: left;
}
.about-us-photo{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;

}
.about-us-content{
    padding-top: 200px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;


}
.about-us-content h2{
    font-size: 30px;
}
.about-us-content p{
    font-size: 20px;
}

.about-us-photo img{
    padding-left: 150px;
    padding-top: 150px;
    height: 500px;
}
.recipes{
    margin-top: 50px;
    margin-bottom: 50px;

}
.recipe-content{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 50px;
    

}
.recipe-content p{
    line-height: 1.8;
}
.recipe-card{
    display: flex;

}

.recipe-item{
    width: 25%;
    padding: 20px;

}
.line-height{
    line-height: 1.8;
}
.item1{
    margin-left: 7.5%;
    margin-right: 2.5%;

    box-shadow: 10px 10px 30px rgb(212, 199, 199);
    border-radius: 20px;
    

}
.item2{
    margin-left: 2.5%;
    margin-right: 2.5%;
    box-shadow: 10px 10px 30px rgb(212, 199, 199);
    border-radius: 20px;

    

}
.item3{
    margin-right: 7.5%;
    margin-left: 2.5%;
    box-shadow: 10px 10px 30px rgb(212, 199, 199);
    border-radius: 20px;

    
}
.recipe-item img{
    width: 100%;
    border-radius: 20px;
}



.social-content{
    margin: 100px;
    display: flex;
    box-shadow: 10px 10px 50px rgb(212, 199, 199);
    border-radius: 40px;
}
.youtube{
    width: 30%;
    padding: 5%;
    
    
}
.youtube h1{
    text-align: center;
}
.youtube p{
    text-align: center;
}
.instagram{
    width: 30%;
    padding: 5%;

}
.instagram h1{
    text-align: center;
}
.instagram p{
    text-align: center;
}
.dribble{
    width: 30%;
    padding: 5%;
}
.dribble h1{
    text-align: center;
}
.dribble p{
    text-align: center;
}
.client-section{
    margin-bottom: 50px;

}
hr{
    margin-left: 40%;
    margin-right: 40%;
}
.clients{
    display: flex;
    width: 100%;

}
.client1{
    width: 25%;
    margin-right: 2.5%;
    margin-left: 7.5%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}
.client2{
    width: 25%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    text-align: center;


}.client3{
    width: 25%;
    margin-left: 2.5%;
    margin-right: 7.5%;
    text-align: center;


}


.image{
    border-radius: 50%;
    width: 70%;
    border: 2px solid tomato;
}



footer{
    height: 350px;
    background-color: rgb(61, 56, 56);
    padding-top: 50px;
    padding-bottom: 50px;
}
footer h2{
    color:white;
    text-align: center;

}
footer p{
    color: white;
    text-align: center;
}

.footer-features{
    display: flex;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    
}
.footer-heading{
    font-size: 30px;
    text-align: left;
}

.popular-products{
    
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 7.5%;
    margin-right: 2.5%;
    

}
.key-products{
    
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}

.contacts{
    
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2.5%;
    margin-right: 7.5%;
}
ul li{
    list-style: none;
    
    
}
ul li a{
    text-decoration: none;
    color: rgb(160, 153, 153);
    
}
.footer-item{
    width: 25%;
    padding: 20px;
}





